.containerProductList {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.itemProductList {
    align-content: start;
    display: grid;
    row-gap: 0.5rem;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
